body{
font-family: Arial, sans-serif;
background:#f4f6f9;
display:flex;
justify-content:center;
align-items:center;
min-height:100vh;
margin:0;
}

.container{
width:400px;
background:white;
padding:25px;
border-radius:12px;
box-shadow:0 5px 15px rgba(0,0,0,0.1);
text-align:center;
}

h2{
margin-bottom:20px;
}

input{
width:100%;
padding:10px;
margin:8px 0;
border:1px solid #ccc;
border-radius:6px;
}

button{
width:100%;
padding:10px;
margin:6px 0;
border:none;
border-radius:6px;
background:#3498db;
color:white;
cursor:pointer;
}

button:hover{
background:#2980b9;
}

a{
display:block;
margin-top:10px;
padding:10px;
background:#2E56CC;
color:white;
text-decoration:none;
border-radius:6px;
}

ul{
text-align:left;
margin-top:10px;
}

p{
margin-top:10px;
}
.kembali {
  display: block;
  margin-top: 10px;
  padding: 10px;
  background: #e74c3c;
  color: white;
  text-decoration: none;
  border-radius: 6px;
}

.kembali:hover {
  background: #c0392b;
}
.tambah {
  background: #43EB2B;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
}

.tambah:hover {
  background: #27ae60;
}